<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.blookliu.myapplication.photogallery"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="com.example.blookliu.photogallery.PRIVATE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.example.blookliu.photogallery.PRIVATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PhotoGalleryActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <service
            android:name=".service.PollService"
            android:exported="false">
        </service>

        <receiver
            android:name=".receiver.StartupReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.NotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="-999">
                <action android:name="com.example.blookliu.photogallery.show_notification"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".PhotoPageActivity"
            android:label="@string/title_activity_photo_page"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
